[Unit]
Description=Radicale - A Python CalDAV and CardDAV server

[Service]
Type=simple
User=radicale
Group=radicale
ExecStart=/usr/local/radicale/bin/radicale -p /run/radicale/radicale.pid -C /etc/radicale/config
Restart=on-failure
RestartSec=5s
WorkingDirectory=/opt/radicale
PIDFile=/run/radicale/radicale.pid

[Install]
WantedBy=multi-user.target
